
/*----------------------------------------------------NAVBAR-----------------------------------------------*/
header{
    /*BORDER*/
    border-style: solid;
    color: whitesmoke;
    border-width: 2px;
    /*BACKGROUND*/
    background-color: #990000;
}
.navbar-light .navbar-brand{ 
    /*TEXT*/
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
    color: whitesmoke;
    /*PADDING*/
    padding-top: 10px;
}
.navbar-light .navbar-brand:hover{
    /*TEXT*/
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
    color: whitesmoke;
}
.navbar-light .navbar-nav .nav-link{
    /*TEXT*/
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
    color:whitesmoke;
}
.navbar-light .navbar-nav .nav-link.active{
    /*TEXT*/
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
    color:whitesmoke;
}
.navbar-light .navbar-nav .nav-link:hover{
    /*TEXT*/
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
    color: black ;
}
.navbar-toggler {
    /*COLORS*/
    background-color:#990000;
    opacity: 100%;
}


/*----------------------------------------------------BODY------------------------------------------------*/
body{
    /*TEXT*/
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
    /*COLORS*/
    background-color: whitesmoke;    
}
h1{
    color: black;
}
/*-------------------ALL TABLES SHARE THIS-----------------------------------*/
.table {
    /*COLORS*/
    border-color: black;
    color: black;
    --bs-table-hover-color: #990000;
    /*BORDER*/
}
.btn-outline-secondary {
    /*COLORS*/
    color: black;
    border-color: black;
    /*PADDING*/
    margin: 5px;
}
.btn-outline-secondary:hover {
    /*COLORS*/
    color: yellow;
    background-color: black;
    border-color: black;
    /*PADDING*/
    margin: 5px;
}
th {
    /*TEXT*/
    text-align: center;
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
    color: black;
    
    /*BORDER*/
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}
td {
    /*TEXT*/
    text-align: center;
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
}
tr{
    border: 2px black solid;
    border-style: groove;
}
/*-------------------ALL FORMS SHARE THIS-----------------------------------*/
form{
    /*TEXT*/
    text-align: left;
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
     /*COLORS*/
    color: black;
}
button.btn.btn-primary{
    color: yellow;
    background-color: black;
    border-color: black;
    /*PADDING*/
    margin: 5px;
}
button.btn.btn-primary:hover{
    color: black;
    background-color: green;
    border-color: black;
    /*PADDING*/
    margin: 5px;
}
/*---------------------------------------------------FOOTER------------------------------------------------*/
footer{
    /*TEXT*/
    font: 16px/1.4 'BentonSansCondRegular', Arial, sans-serif;
    color:whitesmoke;
    text-align: center;
    /*COLORS*/
    background-color:#990000;
    /*BORDER*/
    border-style: solid;
    border-color:#990000;
    border-width: 2px;
    /*PADDING*/
    padding-top: 10px;
}
/*------------------------------------------------REFS PAGE------------------------------------------------*/
#refereeForm{
    /*ALIGN*/
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    border: 3px Black dashed
}


/*------------------------------------------------GAMES PAGE------------------------------------------------*/
#gameForm{
    /*ALIGN*/
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    border: 3px Black dashed
}
#center-me{
    text-align: center;

}

/*------------------------------------------------IMGS------------------------------------------------*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*------------------------------------------------LOGIN------------------------------------------------*/

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}