/*----------------------------------------------------NAVBAR-----------------------------------------------*/
header{
    /*BORDER*/
    border-style: solid;
    color:#990000;
    border-width: 2px;
    /*BACKGROUND*/
    background-color: black;
}
.navbar-light .navbar-brand{ 
    /*TEXT*/
    font-family:"Lucida Console", "Courier New", monospace;
    color: whitesmoke;
    /*PADDING*/
    padding-top: 10px;
}
.navbar-light .navbar-brand:hover{
    /*TEXT*/
    font-family: "Lucida Console", "Courier New", monospace;
    color: whitesmoke;
}
.navbar-light .navbar-nav .nav-link{
    /*TEXT*/
    font-family:"Lucida Console", "Courier New", monospace;
    color:#990000;
}
.navbar-light .navbar-nav .nav-link.active{
    /*TEXT*/
    font-family: "Lucida Console", "Courier New", monospace;
    color:#990000;
}
.navbar-light .navbar-nav .nav-link:hover{
    /*TEXT*/
    font-family:"Lucida Console", "Courier New", monospace;
    color: yellow;
}
.navbar-toggler {
    /*COLORS*/
    background-color:#990000;
    opacity: 100%;
}


/*----------------------------------------------------BODY------------------------------------------------*/
body{
    /*TEXT*/
    font-family: "Lucida Console", "Courier New", monospace;
    /*COLORS*/
    background-color:#990000;
}
h1{
    color: black;
}
/*-------------------ALL TABLES SHARE THIS-----------------------------------*/
.table.table.table-hover {
    /*COLORS*/
    border-color: black;
    color: black;
    --bs-table-hover-color: yellow;
    /*BORDER*/
}
.btn-outline-secondary {
    /*COLORS*/
    color: black;
    border-color: black;
    /*PADDING*/
    margin: 5px;
}
.btn-outline-secondary:hover {
    /*COLORS*/
    color: yellow;
    background-color: black;
    border-color: black;
    /*PADDING*/
    margin: 5px;
}
th {
    /*TEXT*/
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: whitesmoke;
    /*BORDER*/
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}
td {
    /*TEXT*/
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
tr{
    border: 2px black solid;
    border-style: groove;
}
/*-------------------ALL FORMS SHARE THIS-----------------------------------*/
form{
    /*TEXT*/
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
     /*COLORS*/
    color: black;
}
button.btn.btn-primary{
    color: yellow;
    background-color: black;
    border-color: black;
    /*PADDING*/
    margin: 5px;
}
button.btn.btn-primary:hover{
    color: black;
    background-color: green;
    border-color: black;
    /*PADDING*/
    margin: 5px;
}
/*---------------------------------------------------FOOTER------------------------------------------------*/
footer{
    /*TEXT*/
    font-family: "Lucida Console", "Courier New", monospace;
    color:whitesmoke;
    text-align: center;
    /*COLORS*/
    background-color:black;
    /*BORDER*/
    border-style: solid;
    border-color:#990000;
    border-width: 2px;
    /*PADDING*/
    padding-top: 10px;
}
/*------------------------------------------------REFS PAGE------------------------------------------------*/
#refereeForm{
    /*ALIGN*/
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    border: 3px Black dashed
}
/*------------------------------------------------GAMES PAGE------------------------------------------------*/
#gameForm{
    /*ALIGN*/
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    border: 3px Black dashed
}
#center-me{
    text-align: center;
}