<!DOCTYPE html>
<html lang="en">
<!----------------------------------------------------HEADER--------------------------------------------------------------->
<head>
  <!--META TAGS-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--BOOTSTRAP AND CSS-->
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--JAVASCRIPT-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!--SCRIPTS-->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <!--TITLE-->
  <title>Assignments</title>
</head>


<!----------------------------------------------------NAVBAR---------------------------------------------------------------> 
<body>  
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid">
      <!--COMPANY NAME-->
      
      <h1 class="navbar-brand"><img class=".img-responsive" src="img\IndianaSoccer.png" id="navimg"> </h1>
  
      
      <!--BUTTON TO EXPAND COLLAPSED NAVBAR-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!--NAVBAR CONTENT-->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbar" color="pink">
          <a class="nav-link active" href="index.html">Home</a>
          <a class="nav-link" href="referees.html">Referees</a>
          <a class="nav-link" href="games.html">Games</a>
          <a class="nav-link" href="assignment.html">Referee Assignments</a>
        </div>
      </div>
    </div>
    </nav>
  </header>
<!----table--------------------------------------------------------------->
<div class="mb-3 p-4 assignmentTable"id="oneJS">
  
  <h1><b>Referee Assignment</b></h1>
  <table id="assignmentTable" class="table table-hover">
    <thead>
      <tr>

        <th scope="col">Assignment Id</th>
        <th scope="col">Referee Id</th>
        <th scope="col">Game Id</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>

    <tbody>
      <tr v-for="a in assignment">
        <td>{{ a.assignmentid }}</td>
        <td>{{ a.refereeid }}</td>
        <td>{{ a.gameid }}</td>
        <td>
        <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="postDeleteAssignment(a)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" onclick="tableToCSV2()" class="csv">
    <span class="bi bi-download"></span>
    Download CSV
  </button>

  <!---Assignment Form--->
  <div id="">
    <form class="" v-on:submit.prevent="postAssignment(a)" id="assignmentForm">
      <fieldset>
      <legend id="form_title"><h3 id="center-me"><b>{{ selectedAssignment === null ? "Add " : "Edit " }} Referee Assignment</b></h3></legend>
      
      <label  for="gameHost">Available Matches: </label>
      <select v-model="assignmentForm.matchup" name="gameHost" id="gameHost">
        <br>     
      <option v-bind:value="g.gameid" v-for="g in game">{{ g.gameHost }} VS. {{ g.gameVisitor }} at {{ g.gameLocation }}</option>
      <option value=""></option>
      </select><br><br>
  
      <label for="refereeLast">Referee Name: </label>
      <select v-model="assignmentForm.refereeId" name="refereeLast" id="refereeLast">
      <option v-bind:value="r.refereeid" v-for="r in referee">{{ r.refereeFirst }} {{ r.refereeLast }}</option>
      </select><br><br>

      <button type="submit" class="btn btn-primary">{{ selectedAssignment === null ? "Add " : "Edit " }} Assignment</button>
      <button type="button" class="btn btn-outline-secondary" v-if="selectedAssignment" v-on:click="resetAssignmentForm">Cancel</button>
    </fieldset>

    </form>
  </div>
</div>



<script src="js/one.js"></script>
<script src="js/tablesort.min.js"></script>
<script src="js/export.js"></script>
<script>
  new Tablesort(document.getElementById('assignmentTable'));
</script>
<!-----------------------------------------------------FOOTER--------------------------------------------------------------->
<footer>
  <a href="#" class="fa fa-facebook" id="socialmedia"></a>
  <a href="#" class="fa fa-twitter" id="socialmedia"></a>
  <a href="#" class="fa fa-youtube" id="socialmedia"></a>
</footer>
</body>
</html>