<!DOCTYPE html>
<html lang="en">
<!----------------------------------------------------HEADER--------------------------------------------------------------->
<head>
  <!--META TAGS-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--BOOTSTRAP AND CSS-->
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!--JAVASCRIPT-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!--SCRIPTS-->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <!--TITLE-->
  <title>Games</title>
</head>

<body>
<!----------------------------------------------------NAVBAR---------------------------------------------------------------> 
<header>
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container-fluid" id="">
    <!--COMPANY NAME-->
    
    <h1 class="navbar-brand"><img class=".img-responsive" src="img\IndianaSoccer.png" id="navimg"> </h1>

    
    <!--BUTTON TO EXPAND COLLAPSED NAVBAR-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!--NAVBAR CONTENT-->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="navbar" color="pink">
        <a class="nav-link active" href="index.html">Home</a>
        <a class="nav-link" href="referees.html">Referees</a>
        <a class="nav-link" href="games.html">Games</a>
        <a class="nav-link" href="assignment.html">Referee Assignments</a>
      </div>
    </div>
  </div>
  </nav>
</header>
<!-------------------------------------------------------BODY--------------------------------------------------------------->
<main>
  <!-- Game Table  -->

  <div class="p-4 mb-3 gameTable" id="oneJS">  
     <h1><b>Scheduled Games</b></h1>

     <table class="table table-hover">
     <thead>
       <tr>
         <th scope="col">Host Team</th>
         <th scope="col">Visiting Team</th>
         <th scope="col">Game Date</th>
         <th scope="col">Game Time</th>
         <th scope="col">Game Type</th>
         <th scope="col">Actions</th>
       </tr>
     </thead>
 
     <tbody>
       <tr v-for="g in game">
         <td>{{ g.gameHost }}</td>
         <td>{{ g.gameVisitor }}</td>
         <td>{{ g.gameDate }}</td>
         <td>{{ g.gameTime }}</td>
         <td>{{ g.gameType }}</td>
         <td>
          <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="selectGameToEdit(g)">Edit</button>
          <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="postDeleteGame(g)">Delete</button>
         </td>
     </tbody>
   </table>
  
   <button type="button" onclick="tableToCSV1()" class="csv">
    <span class="bi bi-download"></span>
    Download CSV
  </button>
 
    <!-- Game Form  -->
  <form class="mb-3 p-2" v-on:submit.prevent="postGame(g)" id="gameForm">
    <h3 id="center-me"><b>{{ selectedGame === null ? "Add " : "Edit " }} Games</b></h3>
    <fieldset>
      <label for="gameHost" class="form-label">Host Team</label>
      <input type="text" v-model="gameForm.gameHost" class="form-control" id="gameHost">
     
      <label for="gameVisitor" class="form-label">Visiting Team</label>
      <input type="text" v-model="gameForm.gameVisitor" class="form-control" id="gameVisitor">
       
      <label for="gameDate" class="form-label">Game Date</label>
      <input type="date" v-model="gameForm.gameDate" class="form-control" id="gameDate">

      <label for="gameTime" class="form-label">Game Time</label>
      <input type="time" v-model="gameForm.gameTime" class="form-control" id="gameTime">
      
      <label for="gameType">Game Type </label>
      <select v-model="gameForm.gameType" name="gameType" id="gameType">
        <option value="U-8">U-8</option>
        <option value="U-16">U-16</option>
        <option value="High-School">High-School</option>
        <option value="College">College</option>
        <option value="Professional">Professional</option>
        <option value="Recreational">Recreational</option>
        <option value="Other">Other</option>
      </select>
      <button type="submit" class="btn btn-primary">{{ selectedGame === null ? "Add " : "Edit " }} Game</button>
      <button type="button" class="btn btn-outline-secondary" v-if="selectedGame" v-on:click="resetGameForm">Cancel</button>
  
    </fieldset>

  </form>
  </div>
</main>


<script src="js/one.js"></script>
<script src="js/export.js"></script>
<script src="js/tablesort.min.js"></script>
<script>
  new Tablesort(document.getElementById('assignmentTable'));
</script>


</body>
<!-----------------------------------------------------FOOTER--------------------------------------------------------------->
<footer>
  <a href="#" class="fa fa-facebook" id="socialmedia"></a>
  <a href="#" class="fa fa-twitter" id="socialmedia"></a>
  <a href="#" class="fa fa-youtube" id="socialmedia"></a>
</footer>
</html>