<!DOCTYPE html>
<html lang="en">
<!----------------------------------------------------HEADER--------------------------------------------------------------->
<head>
  <!--META TAGS-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--BOOTSTRAP AND CSS-->
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet" type="text/css">

  <!--JAVASCRIPT-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!--SCRIPTS-->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <!--TITLE-->
  <title>Referees</title>
</head>

<body>
<!----------------------------------------------------NAVBAR---------------------------------------------------------------> 
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid" id="">
      <!--COMPANY NAME-->
      <h1 class="navbar-brand" id=""><b><i>Indiana Soccer Referees</i></b></h1>
      
      <!--BUTTON TO EXPAND COLLAPSED NAVBAR-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!--NAVBAR CONTENT-->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbar" color="pink">
          <a class="nav-link active" href="index.html">Home</a>
          <a class="nav-link" href="referees.html">Referees</a>
          <a class="nav-link" href="games.html">Games</a>
        </div>
      </div>
    </div>
    </nav>
  </header>
<!-------------------------------------------------------BODY--------------------------------------------------------------->


<!-- Books Table -->
 <div class="p-2" id="refereesJS">  
    <h1>League Referees</h1>
    <table id="refereeTable" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Referee Id</th>
        <th scope="col">Referee Name</th>
        <th scope="col">Age</th>
        <th scope="col">Years of Experience</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="referee in referees">
        <td>{{ referee.refereeid }}</td>
        <td>{{ referee.refereeName }}</td>
        <td>{{ referee.age }}</td>
        <td>{{ referee.yearsExperience }}</td>
    </tbody>
  </table>

   <!-- Form  -->
   <br>
   <form v-on:submit.prevent="postNewReferee" id="refereeForm">
    <fieldset>
      <legend id="form_title"><h3>{{ selectedRef === null ? "Add " : "Edit " }} Referee</h3></legend>
      <br>
      <div class="p-2 mb-3">
        <label for="refereeName" class="form-label">Referee Name</label>
        <input type="text" v-model="refereeForm.refereeName" class="form-control" id="refereeName">
      </div>
      <div class="p-2 mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" v-model="refereeForm.age" class="form-control" id="age">
      </div>
      <div class="p-2 mb-3">
        <label for="yearsExperience" class="form-label">Years of Experience</label>
        <input type="text" v-model="refereeForm.yearsExperience" class="form-control" id="yearsExperience">
      </div>
    </fieldset>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-----------------------------------------------------FOOTER--------------------------------------------------------------->
<footer>
  <div class="container-fluid">
    <p>Kelley School of Business</p>
  </div>
</footer>
</body>

</html>