<!DOCTYPE html>
<html lang="en">
<!----------------------------------------------------HEADER--------------------------------------------------------------->
<head>
  <!--META TAGS-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--BOOTSTRAP AND CSS-->
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

  <!--JAVASCRIPT-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!--SCRIPTS-->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <!--TITLE-->
  <title>Referees</title>
</head>

<body>
<!----------------------------------------------------NAVBAR---------------------------------------------------------------> 
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid" id="">
      <!--COMPANY NAME-->
      <h1 class="navbar-brand" id=""><b><i>Indiana Soccer Referees</i></b></h1>
      
      <!--BUTTON TO EXPAND COLLAPSED NAVBAR-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!--NAVBAR CONTENT-->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbar" color="pink">
          <a class="nav-link active" href="index.html">Home</a>
          <a class="nav-link" href="referees.html">Referees</a>
          <a class="nav-link" href="games.html">Games</a>
          <a class="nav-link" href="assignment.html">Referee Assignments</a>
        </div>
      </div>
    </div>
    </nav>
  </header>
<!-------------------------------------------------------BODY--------------------------------------------------------------->

<!-- Referees Table -->
 <div class="refereeTable" id="refereesJS">  
    <br>
    <h1>League Referees</h1>
    <table id="refereeTable" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Preferred Position</th>
        <th scope="col">Certification Level</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="r in referee">
        <td >{{ r.refereeFirst }}</td>
        <td>{{ r.refereeLast }}</td>
        <td>{{ r.refereeAge }}</td>
        <td>{{ r.refereePrefPos }}</td>
        <td>{{ r.refereeCertLevel }}</td>
        <td>
          <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="selectRefereeToEdit(r)">Edit</button>
          <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="postDeleteReferee(r)">Delete</button>
        </td>
    </tbody>
  </table>
  <button type="button" onclick="tableToCSV()" class="csv">
    <span class="bi bi-download"></span>
    Download CSV
</button>

   <!-- Form  -->
   <br>
   <div id="RefereeFormCSS">
   <form v-on:submit.prevent="postReferee(r)" id="refereeForm">
    <fieldset>
      <legend id="form_title"><h3 id="center-me">{{ selectedReferee === null ? "Add " : "Edit " }} Referee</h3></legend>
      <br>
      
      <label for="refereeFirst">First Name: </label>
      <input type="text" v-model="refereeForm.refereeFirst "name="refereeFirst" id="refereeFirst" required><br><br>

      <label for="refereeLast">Last Name: </label>
      <input type="text" v-model="refereeForm.refereeLast" name="refereeLast" id="refereeLast" required><br><br>

      <label for="refereeAge">Age: </label>
      <input type="text" v-model="refereeForm.refereeAge" name="refereeAge" id="refereeAge" ><br><br>

      <label for="refereePrefPos">Preferred Position: </label>
      <select v-model="refereeForm.refereePrefPos" name="refereePrefPos" id="refereePrefPos">
        <option value="Head Referee">Head Referee</option>
        <option value="Lineman">Lineman</option>
        <option value="Auxilary">Auxilary</option>
        <option value="Other">Other</option>
      </select><br><br>

      <label for="refereeCertLevel">Certification Level: </label>
      <select v-model="refereeForm.refereeCertLevel" name="refereeCertLevel" id="refereeCertLevel">
        <option value="AAA">AAA</option>
        <option value="AA">AA</option>
        <option value="A">A</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B">B</option>
        <option value="B-">B-</option>
        <option value="Other">Other</option>
      </select><br><br>

    </fieldset>
    <button type="submit" class="btn btn-primary">{{ selectedReferee === null ? "Add " : "Edit " }} Referee</button>
    <button type="button" class="btn btn-outline-secondary" v-if="selectedReferee" v-on:click="resetRefereeForm">Cancel</button>
  </div>
  
  </form>
</div>
</main>

<!---------------------------------------------------SOME SCRIPTS---------------------------------------------------------->
<script src="js/referees.js"></script>
<script src="js/export.js"></script>
<script src="js/tablesort.min.js"></script>

<script> 
  new Tablesort(document.getElementById('refereeTable'));
</script>

<!-----------------------------------------------------FOOTER--------------------------------------------------------------->
<footer>
  <div class="container-fluid">
    <p>Kelley School of Business</p>
  </div>
</footer>
</body>

</html>